name: CI

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:

  run-terraform:
    name: 'Run terraform'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::403429280851:role/tf-role

      - name: Setup terraform
        uses: 'hashicorp/setup-terraform@v3'
        with:
          terraform_version: 1.8.4

      - name: Terraform init
        run: terraform init

      - name: Terraform format
        run: terraform fmt -check
      
      - name: Terraform plan
        run: terraform plan

      - name: Terraform apply
        run: terraform apply -auto-approve